{% extends 'layout.html' %}
 
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-8">
            <h1>Blog</h1>

            {% for post in posts %}
                <div class="card mb-4">
                    <img class="card-img-top" src= {{ post.img_title }}>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
                        <h2 class="card-title h4">{{ post.title }}</h2>
                        <p class="card-text">{{ post.content}}</p>
                        <a class="btn btn-primary" href="{{ url_for('post') }}">More Pictures →</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-4">

            <div class="card">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li><a href="{{ url_for('post') }}">Traveling alone</a></li>
                            <li><a href="{{ url_for('post') }}">Cafe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}