{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript" src="../static/greet.js"></script>

<header class="py-5 bg-image-full" style="background-image: url('https://wallpapers.com/images/hd/1600-x-900-black-tvnmhs4ar0dmm3w9.jpg')">
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">i'm SngH!</h1>
        <p class="text-white-50 mb-0">a student in department of rural construction engineering</p>
    </div>
</header>
<section class="py-5">
    <div class="container my-5">
        <div class="col-lg-6">

            <div id="result"></div>

            <label for="inputA">Your Name: </label>
            <input id="inputA" value="Sissy">
            <button type="submit" onclick="showGreeting()">click</button>

            <p>Welcome, <span id="valueA">Sissy</span>!</p>

        </div>
    </div>
</section>

{% endblock %}