{% extends 'layout.html' %}
 
{% block content %}

{% for post_second in posts%}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ post_second.title }}</h1>
                    <div class="text-muted fst-italic mb-2">{{ post_second.date_posted.strftime('%Y-%m-%d') }}</div>
                </header>
                <figure class="mb-4"><img class="img-fluid rounded" src={{ post_second.img_class_1 }} alt="..." /></figure>
                <figure class="mb-4"><img class="img-fluid rounded" src={{ post_second.img_class_2 }} alt="..." /></figure>
                <figure class="mb-4"><img class="img-fluid rounded" src={{ post_second.img_class_3 }} alt="..." /></figure>
                <figure class="mb-4"><img class="img-fluid rounded" src={{ post_second.img_class_4 }} alt="..." /></figure>
                <figure class="mb-4"><img class="img-fluid rounded" src={{ post_second.img_class_5 }} alt="..." /></figure>
            </article>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}